<footer class="site-footer">
  <div class="wrapper">
   <div class="footer-col-wrapper">
        <ul class="inline-list right">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <i class="fa fa-lg fa-github"></i>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <i class="fa fa-lg fa-twitter"></i>
            </a>
          </li>
          {% endif %}
        </ul>
    </div>
  </div>
</footer>
