<header class="site-header">

  <div class="wrapper">

  <!--   <h3><a class="site-title" href="{{ site.baseurl }}/">{{ site.header_title }}</a></h3> -->
      <section class="middle tab-bar-section">
        <img class="site-logo" src="/images/logo.png">
      </section>

     <!-- <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.navtitle }}</a>
          {% endif %}
        {% endfor %}
      </div> -->

  </div>

</header>
