<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>
<script>
  console.log ('Hiya Love');

$('.instagram').everydayImInstagrammin({
  clientID: '2053685458',
  accessToken: '2053685458.5b9e1e6.be80b5be9d5a41758ffed7c9a376bf3b',
  numberPics: '12',
  imgClass: 'insta-img',
  captions: 'true',
  captionAlign: 'top',
  sequenceFadeIn: 'true',
  sequenceDuration: 300,
});
</script>

</html>
